# Python Programming Language

<img src="">

### Why Python?
- Data analysis and forecasting tools
- Artificial intelligence
- Web apps
- Video games
- Audio/video apps
- Mobile apps
- Networking apps
- Scientific/mathematical apps
- Security utilities
- Educational apps

### Some Examples
- Instagram
- Spotify
- Dropbox
- PyCharm
- Django
- Blender
- ERP5

# History of Python

### Created by Guido van Rossum in the late 1980s. 
- Goals
    1. Easy to read
    2. Require minimal lines of code as compared to other languages

- Early versions released over the next few years
- Version 1.0 not released until January of 1994

### Python 2
- First major update to Python
- Released in October 2000
- Garbage collection, augmented assignment, list comprehension, Unicode strings, etc.
- As of April 2020, most recent version of Python 2 is 2.7.18
- Superseded by Python 3 but remains in use by some developers

### Python 3 
- Most recent major version
- Up to version 3.9.0 as of late 2020

# Interpresters and Compilers

### Compiler

- Translates source code into code that can run on the computer.
- Translates code in advance, compiling it into a ready-to-run executable file.

* Benefits:
    1. Tends to run faster than interpreter
    2. Reveals major errors to the programmer when program is compiled

### Interpreter

- Translates source code into code that can run on the computer.
- Translates code just-in-time, interpreting the source code into executable code as the program runs.

* Benefits:
    1. Generally easier to use than compiler
    2. Deliverable is more “portable”
    3. More convenient to perform quick updates

# Hello World in Python

In [1]:
print("Hello, World!")

Hello, World!

# 1. Variables in Python

In [2]:
# In Python, variables are created when you assign a value to it:
x = 5
y = "Hello, World"
print(x)
print(y)

# Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

5
Hello, World
Sally

### Case-Sensitive

In [3]:
a = 4
print(A)

NameError: name 'A' is not defined

### Variable Names in Python

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [4]:
# examples:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Operators

### Arthmetic Operators

In [5]:
x = 9 + 1
print(f'x = {x}')

y = 15 - 5
print(f'y = {y}')

z = x * y
print(f'z = {z}')

w = z / x
print(f'w = {w}')

s = w % y
print(f's = {s}')

p = x ** 2
print(f'p = {p}')

x = 10
y = 10
z = 100
w = 10.0
s = 0.0
p = 100

### Assignment Operators

In [6]:
# Equal sign
name = 'Hamad'

# Increment by n sign
a = 0
a += 1
a = a + 1

### Comparison Operators

In [7]:
print(x == 10)
print(x != 1)
print(x >= 10)
print(x <= 10)
print(x > 10)
print(x < 10)

True
True
True
True
False
False

### Logical Operators

In [10]:
print('AND Operator :-')
print(True and True)
print(True and False)
print(False and True)
print(False and False)

print('\nOR Operator :-')
print(True or True)
print(True or False)
print(False or True)
print(False or False)

AND Operator :-
True
False
False
False

OR Operator :-
True
True
True
False

### Python Keywords

In [11]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Multi Words Variable Names in Python

- Camel Case >> myVar
- Pascal Case >> MyVar
- Snake Case >> my_var

In [12]:
myVar = 10
MyVar = 'X'
my_var = True

### Many Values to Multiple Variables in Python

In [15]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

In [16]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Errors

### Syntax Error

In [17]:
s = 'hamad

SyntaxError: EOL while scanning string literal (3003027488.py, line 1)

In [18]:
count = 1

if count < 1 or count > 10
    print('Sorry')
else:
    print('Thank you')

SyntaxError: invalid syntax (2001812892.py, line 3)

### Logic Error

In [19]:
fav_number = input("What is your favorite number?")
fav_color = input("What is your favorite number?")

print(fav_number)
print(fav_color)

What is your favorite number?10
What is your favorite number?10
10
10

# Functions in Python

### Simple function

In [20]:
def welcome():
    print('Hello World!')

welcome()

Hello World!

### Arguements and Parameters

In [21]:
def add(a, b):
    return a + b

print(add(10, 20))

30

In [23]:
sum = 10 + 20
print(sum)

30

### Global function

In [24]:
x = "awesome" # Global Variable

def myfunc():
    global x
    x = "fantastic" # local Variable

myfunc()
print("Python is " + x)

Python is fantastic

# Strings in Python

In [25]:
s = 'Hello World'
x = str("DS Bootcamp")
y = str(66661111)

print(s)
print(x)
print(y)

Hello World
DS Bootcamp
66661111

### Strings Operators

In [27]:
s = 'Hello' + ' ' + 'World'
print(s)

s = 'Hello' * 3
print(s)

print('-' * 50)

Hello World
HelloHelloHello
--------------------------------------------------

### Slicing in the Strings

In [33]:
x = 'Hamad'
print(x[1:2]) # String Slicing [start : end]
print(x[:2]) # String Slicing [start : end]

a
Ha

### Membership in the Strings

In [34]:
print('s' in 'start')
print('x' not in 'y')

True
True

### Strings formating

In [35]:
x = 'Hamad'
s = f'Hello, my name is {x}'
print(s)

Hello, my name is Hamad

In [39]:
s = 'There are {} people names {} just {}'.format(2, 'Hamad', 'hello')
print(s)

s = 'There are {1} people names {0}'.format(2, 'Hamad')
print(s)

There are 2 people names Hamad just hello
There are Hamad people names 2

### New Line in the string

In [45]:
s = "Hello, my name is Hamad.\nPython is great!!"

print(s)

Hello, my name is Hamad.
Python is great!!

### Escape Code

In [47]:
s = "Hello, my name is Hamad" \
" Today i will teach you Python!!"

print(s)

Hello, my name is Hamad Today i will teach you Python!!

In [49]:
x = 10 + 10 + 10 \
+ 10 + 10

print(x)

50

### Comments in Python

In [50]:
# Single Comment

'''
Multiple
Lines
Comment
'''

"""
Also
Multiple
Lines
Comment
"""

'\nAlso\nMultiple\nLines\nComment\n'

# Input Function

In [51]:
inpt = input("Enter your name: ")
print(inpt)

Enter your name: Hamad
Hamad

# Check the data type

In [52]:
print('The data type of 1 is', type(1))
print('The data type of 1.5 is', type(1.5))
print('The data type of True is', type(True))
print('The data type of Tuwaiq is', type('Tuwaiq'))

The data type of 1 is <class 'int'>
The data type of 1.5 is <class 'float'>
The data type of True is <class 'bool'>
The data type of Tuwaiq is <class 'str'>

# Numeric Data Type

In [53]:
x = 20     # int
print(type(x))

x = 20.5  # float
print(type(x))

x = 1j+3  # complex
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

# Boolean Data Type

In [54]:
true = True
print(true)

false = False
print(false)

True
False

# Sequence Data Type

In [55]:
x = ["apple", "banana", "cherry"] # list
print(type(x))

x = ("apple", "banana", "cherry") # tuple
print(type(x))

x = range(6) # range
print(type(x))

<class 'list'>
<class 'tuple'>
<class 'range'>

# Type Conversion

In [56]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

Value of num_new: 124.23
datatype of num_new: <class 'float'>

# Casting

In [57]:
# If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3.9)    # y will be 3
z = float(3)  # z will be 3.0

In [58]:
print(type(x), x)
print(type(y), y)
print(type(z), z)

<class 'str'> 3
<class 'int'> 3
<class 'float'> 3.0

# Help Function

In [63]:
help("None")

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# Dir Function

In [66]:
dir('Data Science')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [67]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# Conditions

In [68]:
value = 10

if value == 20:
    print("yes")

In [69]:
value = 10
if value == 10:
    print("yes")
else:
    print("No")

yes

In [70]:
teamBlueScore = teamRedScore = 7

if teamBlueScore > teamRedScore:
        print("Team Blue Won")
elif teamBlueScore == teamRedScore:
        print("The two teams got the same score")
else:
        print("Team Blue Lost")

The two teams got the same score

In [74]:
name = "Mohammad"
number = 22

if name == "Mohammad":
    if number == 23:
        print("Your name is Mohammad, and your number is 23")

In [75]:
num = 2
print(f'I have {num} cats.')

I have 2 cats.

In [76]:
num = 2
print('I have {} cats.'.format(num))

I have 2 cats.

In [77]:
if 's' in 'sir':
    print('Yes it is')

if 'r' not in 'sir':
    print('Nooo')
else:
    print('Yes')

Yes it is
Yes

# Loops

### While Loop

In [78]:
x = 1

while x <= 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

### For Loop

In [80]:
print(numbers)

[0, 1, 2]

In [79]:
numbers = [0, 1, 2]

for num in numbers:
    print(num)

0
1
2

### Range function

In [81]:
for num in range(1, 3):
    print(num)

1
2

In [84]:
for num in range(1, 10, 5): #(start, end, gap)
    print(num)

1
6

### Nested Loops

In [85]:
numbers = [1, 2]
letters = ["A", "B", "C"]

for num in numbers:
    for letter in letters:
        print(num, letter)

1 A
1 B
1 C
2 A
2 B
2 C

### Continue Statement

In [86]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    
    print(num," is odd")

1  is odd
3  is odd
5  is odd

### Break Statement

In [87]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        break
    print(num," is odd")

1  is odd

### Pass Statement

In [93]:
for x in [0, 1, 2]:
    pass

### Lambda function

In [90]:
sum = lambda firstNumber, secondNumber : firstNumber + secondNumber
print(sum(1, 9))

10

### Equivelent def function

In [91]:
def function(firstNumber, secondNumber):
    return firstNumber + secondNumber

sum = function(1, 9)
print(sum)

10

# Try and Except

In [96]:
enter = input('Enter your number to add it by 2 : ')
print(enter + 2)

Enter your number to add it by 2 : 3

TypeError: can only concatenate str (not "int") to str

In [103]:
try:
    enter = input('Enter your number to add it by 2 : ')
    print(enter + str(2))
    print('Hamad')
except:
    print('Ops!! Something wrong..')

print('Hello')

Enter your number to add it by 2 : 3
32
Hamad
Hello

In [101]:
try:
    enter = input('Enter your number to add it by 2 : ')
    print(enter + 2)
except Exception as e:
    print(e)

print('Hamad')

Enter your number to add it by 2 : 3
can only concatenate str (not "int") to str
Hamad

# Additional Resources:

- Python’s standard documentation, https://docs.python.org/3/tutorial/index.html
- Introducing Python, https://learning.oreilly.com/library/view/introducing-python-2nd/9781492051374/
- Fluent Python, https://learning.oreilly.com/library/view/fluent-python-2nd/9781492056348/
- https://www.w3schools.com/python/